*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  place-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  width: 1140px;
  min-height: 534px;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  gap: 30px;
}

.result {
  align-self: end;
  width: 711px;
}

.result__video-container {
  padding-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

.search-form {
  width: 711px;
  box-sizing: border-box;
  min-height: 54px;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset-title, .search-form__label {
  font-size: 18px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  width: 225px;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: none;
  appearance: none;
  letter-spacing: 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.button {
  border: 1px solid #fff;
  background: none;
  color: #fff;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.search-form__fieldset {
  border: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  background: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox{
  background-color: #fff;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
}

.title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  min-height: 210px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  width: 397px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  height: 298px;
}

.content__list-item {
  min-height: 103px;
  padding-left: 3px;
  padding-right: 3px;
}

.content__list {
  display: inherit;
  flex-direction: inherit;
  width: 100%;
  gap: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-content: start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: 100%;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', 'Arial', sans-serif;
}

.content__card-link:focus-visible {
  display: block;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:active {
  display: block;
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__video-card-description-container {
  width: 196px;
  overflow: hidden;
}

.content__video-card-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  min-height: 67px;
  overflow: hidden;
}

.more-button {
  width: 390px;
  min-height: 34px;
  padding-bottom: 2px;
  padding-left: 2px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 